# 本地测试可参考这个文件。GitHub Actions 里不要用 .env，直接设置 Secrets。
TG_BOT_TOKEN=你的Telegram机器人Token
TG_CHAT_ID=你的个人ID或群ID
HL_RPM=200
HL_CONCURRENCY=5
PUSH_EVERY_RUN=0
DAILY_PUSH_HOUR_UTC=0
EXCLUDED_WALLET_ADDRESSES=
SPOT_MAX_TRUSTED_VALUE_USD=250000000
SPOT_MIN_DYNAMIC_CAP_USD=5000000
SPOT_VOLUME_CAP_MULTIPLIER=20
SPOT_NONCANONICAL_CAP_MULTIPLIER=8
SPOT_MAX_PRICE_CHANGE_PCT=100
SPOT_MAX_ANOMALY_RATIO=0.10
SIGNAL_EVENT_COOLDOWN_HOURS=12
BACKTEST_ROUNDTRIP_COST_PCT=0.12
DAILY_DETAIL_KEEP_DAYS=7
WALLET_QUALITY_DECAY_HALF_LIFE_DAYS=14
EVIDENCE_ENRICH_MODE=1
EVIDENCE_TOP_WALLETS=12
WALLET_CLUSTER_MODE=1
WALLET_CLUSTER_MIN_COOCCURRENCE=3
WALLET_CLUSTER_MIN_SIMILARITY=0.70
HEALTH_DB_GZ_WARN_MB=75
